@page "/accordion"
<p>
    <BcAccordion>
        <BcAccordionItem IsActive="@true">
            <BcAccordionTitle>First item</BcAccordionTitle>
            <BcAccordionContent>First item First item First item First item First item First item </BcAccordionContent>
        </BcAccordionItem>
        <BcAccordionItem IsActive="@false">
            <BcAccordionTitle>Second item</BcAccordionTitle>
            <BcAccordionContent>Second item Second item Second item Second item Second item Second item </BcAccordionContent>
        </BcAccordionItem>
        <BcAccordionItem>
            <BcAccordionTitle>Third item</BcAccordionTitle>
            <BcAccordionContent>Third item Third item Third item Third item Third item Third item </BcAccordionContent>
        </BcAccordionItem>
        <BcAccordionItem>
            <BcAccordionTitle>Fourth item</BcAccordionTitle>
            <BcAccordionContent>Fourth item Fourth item Fourth item Fourth item Fourth item Fourth item </BcAccordionContent>
        </BcAccordionItem>
    </BcAccordion>
</p>