@page "/accordion"
@using SayusiAndo.Carbon.BlazoredCarbon.Components.Accordion
<p>Remains open</p>
<p>
    <BCAccordion>
        <BCAccordionItem>
            <BCAccordionTitle>First item</BCAccordionTitle>
            <BCAccordionContent>First item First item First item First item First item First item </BCAccordionContent>
        </BCAccordionItem>
        <BCAccordionItem>
            <BCAccordionTitle>Second item</BCAccordionTitle>
            <BCAccordionContent>Second item Second item Second item Second item Second item Second item </BCAccordionContent>
        </BCAccordionItem>
        <BCAccordionItem>
            <BCAccordionTitle>Third item</BCAccordionTitle>
            <BCAccordionContent>Third item Third item Third item Third item Third item Third item </BCAccordionContent>
        </BCAccordionItem>
        <BCAccordionItem>
            <BCAccordionTitle>Fourth item</BCAccordionTitle>
            <BCAccordionContent>Fourth item Fourth item Fourth item Fourth item Fourth item Fourth item </BCAccordionContent>
        </BCAccordionItem>
    </BCAccordion>
</p>

<p>Only one is open</p>
<p>
    <BCAccordion>
        <BCAccordionItem>
            <BCAccordionTitle></BCAccordionTitle>
            <BCAccordionContent></BCAccordionContent>
        </BCAccordionItem>
    </BCAccordion>
</p>