@page "/tabs"
@using SayusiAndo.Carbon.BlazoredCarbon.Components.Tabs
<h1>Tabs</h1>

<div class="bx--row">
    <h2>Container enabled</h2>
    <BCTabs>
        <BCTabList IsContainer="true">
            <BCTab>
                <BCTabLabel>Tab Label 1</BCTabLabel>
                <BCTabContent>Tab Label 1 content</BCTabContent>
            </BCTab>
            <BCTab>
                <BCTabLabel>Tab Label 2</BCTabLabel>
                <BCTabContent>Tab label 2 content</BCTabContent>
            </BCTab>
            <BCTab>
                <BCTabLabel>Tab Label 3</BCTabLabel>
                <BCTabContent>Tab label 3 content</BCTabContent>
            </BCTab>
        </BCTabList>
        <BCTabSelectedContent/>
    </BCTabs>
</div>

<div class="bx--row">
    <h2>Container disabled</h2>
    <BCTabs>
        <BCTabList>
            <BCTab>
                <BCTabLabel>Tab Label 1</BCTabLabel>
                <BCTabContent>Tab Label 1 content</BCTabContent>
            </BCTab>
            <BCTab>
                <BCTabLabel>Tab Label 2</BCTabLabel>
                <BCTabContent>Tab label 2 content</BCTabContent>
            </BCTab>
            <BCTab>
                <BCTabLabel>Tab Label 3</BCTabLabel>
                <BCTabContent>Tab label 3 content</BCTabContent>
            </BCTab>
        </BCTabList>
        <BCTabSelectedContent/>
    </BCTabs>
</div>