@page "/tabs"

<p>
    <h1>Tabs</h1>
</p>

<p>
    <h2>Container enabled</h2>
    <BCTabs>
        <BCTabList IsContainer="true">
            <BCTab>
                <BCTabLabel>Tab Label 1</BCTabLabel>
                <BCTabContent>Tab Label 1 content</BCTabContent>
            </BCTab>
            <BCTab>
                <BCTabLabel>Tab Label 2</BCTabLabel>
                <BCTabContent>Tab label 2 content</BCTabContent>
            </BCTab>
            <BCTab>
                <BCTabLabel>Tab Label 3</BCTabLabel>
                <BCTabContent>Tab label 3 content</BCTabContent>
            </BCTab>
        </BCTabList>
        <BCTabSelectedContent/>
    </BCTabs>
</p>
<hr/>
<p>
    <h2>Container disabled</h2>
</p>
<p>
    <BCTabs>
        <BCTabList>
            <BCTab>
                <BCTabLabel>Tab Label 1</BCTabLabel>
                <BCTabContent>Tab Label 1 content</BCTabContent>
            </BCTab>
            <BCTab>
                <BCTabLabel>Tab Label 2</BCTabLabel>
                <BCTabContent>Tab label 2 content</BCTabContent>
            </BCTab>
            <BCTab>
                <BCTabLabel>Tab Label 3</BCTabLabel>
                <BCTabContent>Tab label 3 content</BCTabContent>
            </BCTab>
        </BCTabList>
        <BCTabSelectedContent/>
    </BCTabs>
</p>