@page "/accordion"
<div style="margin-top: 47px; padding-top: 3px">
    <h1>Accordion Accordion Accordion Accordion Accordion</h1>
    <h1>Accordion Accordion Accordion Accordion Accordion</h1>
    <h1>Accordion Accordion Accordion Accordion Accordion</h1>
    <h1>Accordion Accordion Accordion Accordion Accordion</h1>
    <h1>Accordion Accordion Accordion Accordion Accordion</h1>
    <h1>Accordion Accordion Accordion Accordion Accordion</h1>
    <h1>Accordion Accordion Accordion Accordion Accordion</h1>
    <h1>Accordion Accordion Accordion Accordion Accordion</h1>
    <h1>Accordion Accordion Accordion Accordion Accordion</h1>
</div>
