@inherits LayoutComponentBase

<div>
    <header class="bx--header" aria-label="BlazoredCarbon" role="banner">
        <a href="#" class="bx--header__name">
            <span class="bx--header__name--prefix">BlazoredCarbon</span>
        </a>
        <div class="bx--header__global"></div>
    </header>
    <nav class="bx--side-nav bx--side-nav__navigation bx--side-nav--expanded">
        <LeftHandMenu></LeftHandMenu>
    </nav>
    <div class="bx--grid" style="margin-top: 47px; padding-top:3px;">
        <div class="bx--row">
            @Body
        </div>
    </div>
</div>